# Perfil local sin Docker
DATA_PROVIDER=sample
ENABLE_EXTERNAL_SOURCES=false
DATABASE_URL=sqlite:///./movete_cb.db
REDIS_URL=
OPEN_DATA_CACHE_TTL=86400
OPEN_DATA_LIMIT=100
OPEN_DATA_SOURCE_CRS=EPSG:3116
OPEN_DATA_TARGET_CRS=EPSG:4326
