DATA_PROVIDER=sample
ENABLE_EXTERNAL_SOURCES=true
DATABASE_URL=postgresql+psycopg://usuario:clave@localhost:5432/muevete_cb
OPEN_DATA_CACHE_TTL=86400
OPEN_DATA_LIMIT=500
OPEN_DATA_SOURCE_CRS=EPSG:3116
OPEN_DATA_TARGET_CRS=EPSG:4326
REDIS_URL=redis://localhost:6379/0
